* {box-sizing: border-box;
font-family: 'Times New Roman', Times, serif;}


.container {
  height: 850px;
  width: 500px;
  padding: 16px;
}
.all{
  
  height: 950px;
  width: 600px;
  margin: auto;
  padding: 50px;
  padding-top: 0%;
  border-radius: 5px;
  border: 2px solid#7d7d7d;
    backdrop-filter: blur(15px);
}
body{
  background-image: url(bim.jpg);
  background-size: cover;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}


hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}


.registerbtn {
  background-image: linear-gradient(to right,rgb(255, 251, 141),rgb(134, 255, 78));
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 900;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}


a {
  color: dodgerblue;
}

.signin {
  background-color: #f1f1f1;
  text-align: center;
  width: 470px;
  height: 40px;
  margin-left: 16px;
 
}